$mainColor: #55B03B;
$baseColor: #FFFFFF;
$accentColor: #0172B2;

$mainTextColor: #1B1B1B;
$secondaryTextColor: #565656;

$mainFont: 'OpenSans', sans-serif;

$mobile-min: 320px;
$mobile-max: 640px;
$tablet-min: 760px;
$tablet-max: 1024px;
$desktop: 1200px;